.container {
    max-width: 100%;
    margin: 0 auto;
    background-color: $color-grey-light-2;
    box-shadow: $dark-shadow;
    min-height: 105rem;
}

.header {
    position: relative;
    font-size: 1.4rem;
    height: 9rem;
    background-color: #fff;
    border-bottom: 1px solid $color-grey-light-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film-posters {
    padding: 1rem 0;
    background-color: #fff;
    height: 140rem;
    @include respond(big-desk) {
        min-height: 97rem;
    }
    @include respond(tab-land) {
        min-height: 180rem;
    }
    @include respond(tab-port) {
        min-height: 260rem;
    }
    @include respond(phone) {
        min-height: 507rem;
    }
}

.single__movie {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    min-height: 90rem;
    margin: 0 auto;
    width: 100%;
    @include respond(tab-port) {
        flex-direction: column;
    }
}